@font-face{
font-family:"VintageFont1";
src:url("Streetwear.otf");
}
@font-face{
font-family:"VintageFont2";
src:url("EBGaramond-Regular.ttf");
}

body{
    background:url("bg.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0;
    padding: 0;
}
div#VintageFont1{
font-family: "VintageFont1";
}
div#VintageFont2{
font-family: "VintageFont2";
}
